html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   html{
     overflow:hidden;
   }
   .row1-4{
     display: flex;
     height: 25vh;
     width: 100vw;
   }
   .row1-2{
     display: flex;
     height: 50vh;
     width: 100vw;
   }
   .block1-3{
     display: flex;
     flex-direction: column;
     height: 100%;
     width: 33.3333333333vw;
   }
   .block2-3{
     display: flex;
     flex-direction: column;
     height: 100%;
     width: 66.666666666vw;
   }
   .split{
     display: block;
     height: 50%;
   }
   .split:hover{
     transform: scale(1.25) translate(10%);
   }
   main + section.block1-3:hover{
     transform: scale(1.25) translate(-10%);
   }
   .row1-4:nth-child(1) .block1-3:hover{
     transform: scale(1.25) translate(10%, 10%);
   }
   .row1-4:nth-child(1) .block2-3:hover{
     transform: scale(1.25) translate(-10%, 10%);
   }
   .row1-4:nth-child(3) .block1-3:hover{
     transform: scale(1.25) translate(-10%, -10%);
   }
   .row1-4:nth-child(3) .block2-3:hover{
     transform: scale(1.25) translate(10%, -10%);
   }
   input[type="submit"]{
     width: 100%;
     border-radius: 0 0 0 0;
     background-color: transparent;
     height: auto;
   }
   section, .split{
     display: flex;
     flex-flow: column;
     justify-content: space-between;
   }
   .colunm{
     flex-direction: column;
   }
   main{
     justify-content: space-around;
     text-align: center;
   }
   nav{
     display: flex;
     flex-flow: row nowrap;
     width: 100%;
     align-items: space-around;
     justify-content: space-around;
   }
   .pagnation ul{
    width: 100%;
    padding: 0 ;
    display: block;
    list-style: none;
   }
  .pagnation li{
    display: inline-block;
    padding: 0;
    margin: 0 2px;
    text-align: center;
    list-style: inside none;
  }

  #news-letter{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  section h2{
    text-align: center;
    text-shadow: .5px .5px 4px grey, 3px 3px 5px black, 1.5px 1.5px 2px white;
  }
  section.block2-3 h2{
    font-size: 250%;
  }
  a.button{
    text-align:center;
    width: 100%;
    max-height: 25px;
    background: rgba(12, 12, 12, .1);
    display: block;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    color: black;
  }
  section:hover a.button{
    color: white;
    text-shadow: .5px .5px 2px black;
  }
  a.button:hover{
    color: white;
    text-shadow: .5px .5px 2px black;
    background: rgba(12, 12, 12, .5);
  }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 560px) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
